@import './prose.css';
@import '../icons/build/styles.css';
@import '../styles/colors.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
  }

  *,
  &::before,
  &::after {
    letter-spacing: -0.0125ch;
  }

  strong,
  b {
    font-weight: theme('fontWeight.medium');
  }

  code,
  pre,
  .font-mono {
    letter-spacing: normal;
  }

  code:not([data-language]) {
    color: theme('colors.slate.12');
    background: theme('colors.overlay.8');
    padding-inline: theme('spacing.1');
    padding-block: theme('spacing.[0.5]');
    border-radius: theme('borderRadius.lg');
  }

  [data-rehype-pretty-code-title] {
    color: theme('colors.slate.12');
    font-size: theme('fontSize.xs');
    border-radius: theme('borderRadius.full');
    font-family: theme('fontFamily.mono');
    background: theme('colors.overlay.8');
    width: fit-content;
    padding: theme('spacing.1') theme('spacing.2');
    margin-bottom: theme('spacing.2');
    cursor: default;
  }

  pre [data-line] {
    padding-right: theme('spacing.4');
  }
}
