@layer reset, base, tokens, recipes, utilities;

@layer base {
  @font-face {
    font-family: 'TT Commons Pro Variable';
    font-style: normal;
    font-weight: 500 700;
    font-display: swap;
    src: url('/fonts/TT_Commons_Pro_Variable.woff2') format('woff2');
  }

  @font-face {
    font-family: 'TT Commons Pro Mono Variable';
    font-style: normal;
    font-weight: 500 700;
    font-display: swap;
    src: url('/fonts/TT_Commons_Pro_Mono_Variable.woff2') format('woff2');
  }

  html,
  body {
    min-height: 100%;
  }

  html {
    position: relative;
  }

  html,
  body {
    min-height: 100%;
  }

  *,
  *::before,
  *::after {
    font-size-adjust: 0.5275;
    letter-spacing: -0.0125ch;
  }

  html {
    position: relative;
  }

  html::after {
    content: '';
    pointer-events: none;
    position: fixed;
    inset: 0;
    display: block;
    height: 100%;
    opacity: 0.075;
    background-image: url('/media/noise-bg.png');
    background-repeat: repeat;
    background-size: 100px;
  }

  /* Avoid text overflows */
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  /* Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }

  /* Create a root stacking context */
  #root,
  #__next {
    isolation: isolate;
  }
}
