.prose {
  * + p,
  * + ul,
  * + ol,
  * + dl,
  * + blockquote:not([class]),
  * + address,
  * + fieldset,
  * + [data-rehype-pretty-code-fragment] {
    margin-top: theme('space.6');
  }

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }

  a:not([class]) {
    color: theme('colors.slate.12');

    @apply underline underline-offset-4 decoration-dotted transition-all hocus:underline-offset-5;
  }

  h2,
  h3,
  h4,
  h5 {
    font-weight: theme('fontWeight.semibold');
    font-size: theme('fontSize.lg');
    color: theme('colors.slate.12');
    margin-top: theme('space.10');
  }

  ol {
    padding-left: theme('spacing.4');
    counter-reset: list-counter;

    > li {
      position: relative;
      padding-left: theme('spacing.7');
      counter-increment: list-counter;
    }
  }

  ol > li::before {
    content: counter(list-counter) '.';
    position: absolute;
    left: theme('inset.1');
    font-weight: theme('fontWeight.semibold');
  }

  li {
    margin-block: theme('space.2');
  }

  ul {
    padding-left: theme('spacing.4');
  }

  ul > li {
    position: relative;
    padding-left: theme('spacing.7');
  }

  ul > li::before {
    content: '';
    position: absolute;
    left: theme('inset.1');
    top: theme('inset.2');
    width: theme('width.2');
    height: theme('height.2');
    background: theme('colors.slate.9');
    border-radius: theme('borderRadius.full');

    @apply ring-2 ring-slate-6;
  }

  code:not([data-language]) {
    color: theme('colors.slate.12');
    background: theme('colors.overlay.8');
    padding-inline: theme('spacing.1');
    padding-block: theme('spacing.[0.5]');
    border-radius: theme('borderRadius.lg');
  }

  [data-rehype-pretty-code-title] {
    color: theme('colors.slate.12');
    font-size: theme('fontSize.xs');
    border-radius: theme('borderRadius.full');
    font-family: theme('fontFamily.mono');
    background: theme('colors.overlay.8');
    width: fit-content;
    padding: theme('spacing.1') theme('spacing.2');
    margin-bottom: theme('spacing.2');
    cursor: default;
  }
}
